body {
    background-image: url(wordback.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

h1,
h3, article {
    color: white;
}